header {
    width: 850px;
    height: 175px;
    background-color: aliceblue;
}

.wrap {
    width: 850px;
    height: 800px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 33% 67%;
}

.left-column {
    display: grid;
    grid-column: 1/2;
    background-color: purple;
}

#left-rows {
    display:grid;
    grid-template-rows: 25% 50% 25%;
}

#socials {
    grid-row: 1/2;
    background-color:aquamarine
}

a {
    border: solid 1px;
    display: flex;
    justify-content: center;
}

#education {
    grid-row: 3/4;
    background-color: beige;
}

h2 {
    border: solid black 2px;
    text-align: center;
}

ul {
    border: solid black 2px;
    text-align: center;
}
